<ion-content>
  
  <form class="ion-padding">
    <img src="assets/LOGOdUOC.png" alt="Logo de UOC">
    <div class="form-div ion-padding">
      <h1>L O G I N</h1>
      <p>Duoc Uc Sistema de Autenticación</p>
      <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Ingrese su Email"></ion-input>
      <a routerLink="/recover-password">Olvisate la contraseña?</a>
      <ion-input type="password" label="Contaseña" labelPlacement="floating" placeholder="Ingrese su Contraseña"></ion-input>
    </div>
   
    <ion-button type="submit" expand="block" mode="ios">
      Entrar
    </ion-button>
    <ion-text color="dark">
      No tienes cuenta? <a routerLink="/register">Registrate</a>
    </ion-text>
  </form>
</ion-content>