<ion-content>
  
  <form class="ion-padding">
    <img src="assets/LOGOdUOC.png" alt="Logo de UOC">
    <div class="form-div ion-padding">
      <h1>R E C U P E R A R</h1>
      <p>C O N T R A S E Ñ A</p>
      <p>Ingresa tu correo institucional para recuperar contraseña</p>
      <ion-input type="email" label="Email" labelPlacement="floating" placeholder="Ingrese su Email"></ion-input>
    </div>
    <ion-button type="submit" expand="block" mode="ios">
      Recuperar
    </ion-button>
    <ion-text color="dark">
      Ir a Login? <a routerLink="/login">Login</a>
    </ion-text>
  </form>
</ion-content>