<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mostrar loader mientras isLoading es true -->
  <ng-container *ngIf="isLoading; else contenido">
    <ion-spinner name="crescent" style="display: block; margin: 20px auto;"></ion-spinner>
    <p style="text-align: center;">Cargando...</p>
  </ng-container>

  <!-- Mostrar el contenido cuando isLoading sea false -->
  <ng-template #contenido>
    <ion-button expand="block" color="secondary" class="volver-button" (click)="navigateToHome()">
      Volver al Home
    </ion-button>

    <ion-accordion-group>
      <ion-accordion *ngFor="let item of asignaturasConUsuarios">
        <ion-item slot="header" color="light">
          <ion-label>{{ item.asignatura.nombreAsignatura }}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-list *ngIf="item.usuarios.length > 0; else noUsuarios">
            <ion-item *ngFor="let usuario of item.usuarios">
              <ion-label>
                <h2>{{ usuario.email }}</h2>
                <p>Porcentaje: {{ usuario.porcentaje }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <ng-template #noUsuarios>
            <p>No hay usuarios inscritos en esta asignatura.</p>
          </ng-template>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-template>
</ion-content>
