<ion-toolbar>
  <!-- Título principal -->
  <h1 class="titulo-header">Asistencia</h1>
</ion-toolbar>

<ion-content scrollY="true">
  <!-- Botón para volver al home -->
  <div style="text-align: center; margin: 20px;">
    <ion-button expand="block" color="primary" (click)="goToHome()">Volver al Home</ion-button>
  </div>

  <!-- Contenedor de tarjetas de asignaturas -->
  <div class="card-container">
    <ion-card *ngFor="let item of asignaturasList">
      <ion-card-header>
        <ion-card-subtitle>{{ item.asignatura.nombreAsignatura }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Horario: {{ item.asignatura.horarioAsignatura }} <br />
        Asistencia: {{ item.asistencia }}%
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
