<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Alumno Duoc UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [class.blurred]="isLoading" class="alumno-content">
  <!-- Contenido principal -->
  <ion-card button routerLink="/alumno" class="action-card">
    <ion-card-header>
      <ion-card-title color="light">Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ver Asistencia 
      <ion-icon slot="end" class="icon-asistencia" color="success" name="checkmark-done"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card button routerLink="/agregar-asignatura" class="action-card">
    <ion-card-header>
      <ion-card-title color="light">Asignaturas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Agregar Asignatura 
      <ion-icon slot="end" class="icon-asistencia" color="success" name="checkmark-done"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding">
    <ion-button color="tertiary" expand="block" class="scan-button" (click)="startScan()">
      <ion-card-title color="light">Scanear Código QR</ion-card-title>
      <ion-icon class="ion-padding" name="qr-code-outline" color="light" size="large"></ion-icon>
    </ion-button>

    <ion-item class="result" *ngIf="scanResult" lines="none">
      <ion-label>
        <p>Resultado Scaneo</p>
        <div>{{scanResult}}</div>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
