<ion-content>
  <!-- Botón Cerrar Sesión -->
  <div class="logout-button">
    <ion-button color="danger" (click)="logout()" fill="clear">
      Cerrar sesión
    </ion-button>
  </div>
  
<div class="ion-padding div-avatar">
  <div class="nombre-avatar">
    <p>Alumno Duoc UC</p>
  </div>
</div>

<ion-content>

  <!-- Tarjeta con acceso a la página de asistencia -->
  <ion-card button routerLink="/alumno">
    <ion-card-header>
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ver Asistencia 
      <ion-icon slot="end" class="icon-asistencia" color="success" name="checkmark-done"></ion-icon>
    </ion-card-content>
  </ion-card>

  <!-- Card para el escaneo de QR -->
  <ion-card class="scan-card">
    <ion-button expand="block" class="scan-button" (click)="startScan()">
      <ion-card-header>
        <ion-card-title>Scanear Código QR</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Icono de QR -->
        <ion-icon name="qr-code-outline" color="light" size="large"></ion-icon>
      </ion-card-content>
    </ion-button>
  </ion-card>

</ion-content>
