:host {
  --primary-color: #0a74da;
  --secondary-color: #005cb3;
  --background-color: #f4f4f4;
}

.docente-content {
  &.blurred {
    filter: blur(8px); /* Aplica un desenfoque al contenido */
    pointer-events: none; /* Deshabilita las interacciones */
    opacity: 0.5; /* Reduce la opacidad */
  }
}

ion-header {
  ion-toolbar {
    --background: var(--primary-color);
    --color: #ffffff;

    ion-title {
      font-size: 1.4rem;
      font-weight: bold;
    }

    ion-icon {
      margin-right: 10px;
    }
  }
}

.docente-content {
  background: var(--background-color);

  .avatar-section {
    text-align: center;
    margin-top: 20px;

    .avatar ion-icon {
      font-size: 4rem;
      --color: var(--secondary-color);
    }

    .docente-name {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      color: #333;
    }
  }

  .logout-section {
    margin: 20px;
    ion-button {
      border-radius: 10px;
      font-weight: bold;
    }
  }

  .asignaturas-card {
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    ion-card-header {
      background: var(--secondary-color);
      border-radius: 15px 15px 0 0;
      padding: 15px;

      ion-card-title {
        font-size: 1.1rem;
        font-weight: bold;
        color: #fff;
      }
    }

    ion-card-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;

      .icon-asignaturas {
        font-size: 1.5rem;
      }
    }
  }
}
